:root {
  --logo-style: "Raleway", sans-serif;
  --Primary-Brand-color: #4d5ae5;
  --state-color: #404bbf;
  --Dark-color: #2e2f42;
  --Success-color: #31d0aa;
  --Txt-color: #434455;
  --Subtle-Txt-color: #8e8f99;
  --Accent-color: #e7e9fc;
  --Light-color: #f4f4fd;
  --Modal-overlay-color: #2e2f42;
  --Hero-background-color: #2e2f42;
  --White-background-color: #ffffff;
  --Modal-background-color: #fcfcfc;
  --bottom-color: 1px solid #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--Txt-color);
  background-color: var(--White-background-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Header */
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 24px 0;
  }
}
.header-logo {
  font-family: var(--logo-style);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  position: relative;
  color: var(--Primary-Brand-color);
  margin-right: 76px;
  text-transform: uppercase;
}

.header-logo-web {
  color: var(--Dark-color);
}

.header-menu {
  display: none;
}

.header-contacts-item {
  display: none;
}

.mob-open {
  border: none;
  background: transparent;
  margin-left: auto;
}
.mobile-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--White-background-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.mobile-container.is-open {
  transform: translateX(0);
}
.mob-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
.mob-wraper {
  margin-top: auto;
}
@media screen and (max-width: 427px) {
  .mob-tel-link {
    font-size: 24px;
  }
  .mob-soc-list {
    gap: 26px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Dark-color);
    gap: 40px;
  }

  .header-contacts-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .mob-open {
    display: none;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-contacts {
    align-items: center;
    font-style: normal;
    margin-left: auto;
  }
  .header-menu-link {
    display: block;
    color: var(--Hero-background-color);
    padding: 24px 0 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current {
    color: var(--state-color);
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--state-color);
    border-radius: 2px;
    width: 100%;
  }

  .header-contacts-link {
    color: var(--Txt-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1158px) {
  .header-contacts-item {
    flex-direction: row;
    gap: 40px;
  }
  .header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
  }
  .header-menu-link:is(:hover, :focus) {
    color: var(--state-color);
  }
  .header-contacts-link:is(:hover, :focus) {
    color: var(--state-color);
  }
}
/* Hero */
.hero {
  padding: 112px 0;
  background-color: var(--Dark-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mob-bg.jpg);
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mob-bg@2x.jpg);
  }
}
.hero-title {
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--White-background-color);

  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  text-align: center;
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--White-background-color);
  cursor: pointer;
  display: block;
  min-width: 169px;
  border: none;
  margin: 0 auto;
  height: 56px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--Primary-Brand-color);
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-bg.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet-bg@2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    margin-bottom: 36px;
    min-width: 496px;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice.jpg);
    padding: 188px 0;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desktop-bg@2x.jpg);
    }
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .hero-btn:is(:hover, :focus) {
    background-color: var(--state-color);
  }
}
/* business */

.business {
  padding-top: 96px;
  padding-bottom: 96px;
}

.business-icon {
  display: none;
}

.business-info-strategy {
  color: var(--Dark-color);
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.business-info-idea {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Txt-color);
}
@media screen and (max-width: 767px) {
  .busines-info-list:not(:last-child) {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) {
  .business-info {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
  }
  .busines-info-list {
    width: calc((100% - 24px) / 2);
  }
  .business-info-strategy {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .business {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .business-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--Light-color);
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .business-info {
    flex-wrap: nowrap;
  }
  .busines-info-list {
    width: calc((100% - 72px) / 4);
  }
  .business-info-strategy {
    font-size: 20px;
  }
  .business-info-idea {
    font-weight: 400;
  }
}
/* service */
.service {
    display: none;
}
@media screen and (min-width: 1158px) {
    .service{
        padding-bottom: 120px;
        display: block;
        }
        
        .service-title {
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            color: var(--Dark-color);
            margin-bottom: 72px;
            text-align: center
            
            
        }
        
        .service-title {
        text-transform: capitalize
        }
        
        .service-list{
            display: flex;
            gap: 24px;
        }
        
        .service-list-info{
            display: block;
        }
    
}
/* Team */
.team {
padding: 96px 0;
background-color: var(--Light-color);
}

.team-container{
    max-width: 296px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    color: var(--Dark-color);
    text-align: center;
    text-transform: capitalize;
}
.team-list-member {
    background-color: var(--White-background-color);
    border-radius: 0 0 4px 4px;
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Dark-color);
    margin-bottom: 8px;
    text-align: center;
}

.team-list-job {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Txt-color);
    text-align: center;
}
.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-soc-text{
    width: 40px;
    height: 40px;

}

.team-soc-img {
    width: 100%;
    height: 100%;
    background-color: var(--Primary-Brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-svg{
    fill: var(--Light-color);
}
.team-info {
    padding: 32px 0px;
}
@media screen and (max-width: 767px) {
    .team-list-member:not(:last-child){
        margin-bottom: 72px;
    }
    
}
@media screen and (min-width: 768px) {
    .team-container {
        max-width: 584px;
    }
    .team-list{
        display: flex;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
    .team-list-member{
        width: calc((100% - 24px)/2);
    }
}
@media screen and (min-width: 1158px) {
    .team{
        padding: 120px 0;
    }
    .team-list {
        flex-wrap: nowrap;
    }
    .team-list-member {
        width: calc((100% - 72px)/4);
    }
    .team-container {
        max-width: 1158px;
    }
}
/* customers */
.customers{
    padding: 96px 0;
}

.customers-info{
    font-size: 36px;
    line-height: 1.11;
    color: var(--Dark-color);
    margin-bottom: 72px;
    text-align: center;
}

.customers-list{
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
}

.customers-link{
    width: calc((100% - 16px) / 2);
    height: 88px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-img{
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--Subtle-Txt-color)
}

.customers-img:is(:hover, :focus){
    border-color: #404bbf;
    color: #404bbf;
}

.sutomers-svg{
    fill: currentColor;
}
@media screen and (min-width: 768px) {
    .customers-list {
        gap: 72px 24px;
    }
    .customers-link{
        width: calc((100% - 48px) / 3);
    }
    .customers-container{
        max-width: 584px;
    }
}
@media screen and (min-width: 1158px) {
    .customers {
        padding: 120px 0;
    }
    .customers-container{
        max-width: 1158px;
    }
    .customers-link {
        width: calc((100% - 120px) / 6);
    }
    .customers-list {
        flex-wrap: nowrap;
    }
}/**-------------------BACKDROP--------------*/

.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
@media screen and (max-width: 427px) {
    .modal {
        width: calc(100% - 30px);
    }
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scaleY(0);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:is(:hover, :focus){
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}

.btn-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
}

.modal-title{
    max-width: 360px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: var(--Dark-color);
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.modal-input:focus{
    border-color:var(--Primary-Brand-color)
}

.modal-input:focus + .input-icon {
    fill:var(--Primary-Brand-color);
}

.modal-field {
    position: relative;
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--Subtle-Txt-color);
}

.input-block {
    position: relative;
}

.input-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--Dark-color);
}

.modal-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
border-color: var(--Primary-Brand-color);
}

.modal-div{
    margin-bottom: 16px;
}

.checked-input:focus + .checked-label > .label-span {
    border-color: var(--state-color);
}

.modal-checked{
    margin-bottom: 24px;
}

.checked-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--Subtle-Txt-color);
}

.label-span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
}


.btn-send{
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: var(--Primary-Brand-color);
    border-color: var(--Primary-Brand-color);
    border: none;
    margin: auto;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checked-link {
    color: var(--Primary-Brand-color);
}

.checked-input:checked + .checked-label>.label-span {
    background-color: var(--state-color);
    border: none;
    fill:var(--Light-color);
}